
*.vsidx
*.ipch
*.sln
*.db
*.lock
*.bin
.vs/Triangle_Counter_875532/v17/.suo
*.user
*.tlog
*.obj
*.exe
*.idb
*.ilk
*.vcxproj
*.filters
*.recipe
*.log
GraphTriangleCounter/.vs/GraphTriangleCounter/v17/.suo
*.pdb
*.db-wal
*.db-shm
*.opendb
